# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
local_settings.py
.env
.env.local
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

client_secret_779839937795-5tk85153v3li07pfacv0tcdfgqmgdofg.apps.googleusercontent.com.json